In [15]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"D:\GQT\quikr_car.csv")
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [17]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [18]:
df.isnull()

      name  company   year  Price  kms_driven  fuel_type
0    False    False  False  False       False      False
1    False    False  False  False       False      False
2    False    False  False  False       False      False
3    False    False  False  False       False      False
4    False    False  False  False       False      False
..     ...      ...    ...    ...         ...        ...
887  False    False  False  False        True       True
888  False    False  False  False       False      False
889  False    False  False  False       False      False
890  False    False  False  False       False       True
891  False    False  False  False       False       True

[892 rows x 6 columns]

In [23]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [27]:
df["name"].str.split()

0        [Hyundai, Santro, Xing, XO, eRLX, Euro, III]
1                        [Mahindra, Jeep, CL550, MDI]
2                    [Maruti, Suzuki, Alto, 800, Vxi]
3      [Hyundai, Grand, i10, Magna, 1.2, Kappa, VTVT]
4              [Ford, EcoSport, Titanium, 1.5L, TDCi]
                            ...
887                                              [Ta]
888                          [Tata, Zest, XM, Diesel]
889                            [Mahindra, Quanto, C8]
890                   [Honda, Amaze, 1.2, E, i, VTEC]
891                   [Chevrolet, Sail, 1.2, LT, ABS]
Name: name, Length: 892, dtype: object

In [25]:
df["name"].str.split().str.get(0)

0        Hyundai
1       Mahindra
2         Maruti
3        Hyundai
4           Ford
         ...
887           Ta
888         Tata
889     Mahindra
890        Honda
891    Chevrolet
Name: name, Length: 892, dtype: object

In [29]:
df["name"].str.split().str.slice(0,3)

0         [Hyundai, Santro, Xing]
1         [Mahindra, Jeep, CL550]
2          [Maruti, Suzuki, Alto]
3           [Hyundai, Grand, i10]
4      [Ford, EcoSport, Titanium]
                  ...
887                          [Ta]
888              [Tata, Zest, XM]
889        [Mahindra, Quanto, C8]
890           [Honda, Amaze, 1.2]
891        [Chevrolet, Sail, 1.2]
Name: name, Length: 892, dtype: object

In [41]:
df["name"]=df["name"].str.join(" ")
df["name"]

0            H y u n d a i   S a n t r o   X i n g
1            M a h i n d r a   J e e p   C L 5 5 0
2              M a r u t i   S u z u k i   A l t o
3                H y u n d a i   G r a n d   i 1 0
4      F o r d   E c o S p o r t   T i t a n i u m
                          ...
887                                            T a
888                        T a t a   Z e s t   X M
889            M a h i n d r a   Q u a n t o   C 8
890                  H o n d a   A m a z e   1 . 2
891            C h e v r o l e t   S a i l   1 . 2
Name: name, Length: 892, dtype: object

In [43]:
df["Price"]

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
887         3,10,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 892, dtype: object

In [45]:
df["Price"]!="Ask For Price"

0       True
1       True
2      False
3       True
4       True
       ...
887     True
888     True
889     True
890     True
891     True
Name: Price, Length: 892, dtype: bool

In [47]:
df[df["Price"]!="Ask For Price"]

df=df[df["Price"]!="Ask For Price"]

df["Price"].str.replace(",","")

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
887    310000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 857, dtype: object