In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"D:\GQT\loan_data.csv")
df

     age  income  credit_score  loan_amount  approval_status
0     59   40358           302       191626                0
1     49   23267           662       150271                0
2     35  102745           807       123533                1
3     63  109588           573       479628                0
4     28   58513           805       449164                0
..   ...     ...           ...          ...              ...
495   46   24621           629       395411                0
496   30   35034           406       254474                0
497   46  131927           525       184436                0
498   54  147858           517       497049                0
499   61   25126           805       393647                0

[500 rows x 5 columns]

In [5]:
#s3 Feature and Target

X = df[['age', 'income', 'credit_score', 'loan_amount']]
y = df['approval_status']

#s4 Train-Test Split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,y,test_size=0.2,random_state=42
)
df

     age  income  credit_score  loan_amount  approval_status
0     59   40358           302       191626                0
1     49   23267           662       150271                0
2     35  102745           807       123533                1
3     63  109588           573       479628                0
4     28   58513           805       449164                0
..   ...     ...           ...          ...              ...
495   46   24621           629       395411                0
496   30   35034           406       254474                0
497   46  131927           525       184436                0
498   54  147858           517       497049                0
499   61   25126           805       393647                0

[500 rows x 5 columns]

In [9]:
# Random Forest
#sp Train Random Forest Model
# Import RandomForest correctly
from sklearn.ensemble import RandomForestClassifier

# Create model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train model
rf_model.fit(X_train, y_train)

# S6 - Evaluation
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

y_pred_rf = rf_model.predict(X_test)

print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_rf))
print("\nClassification Report:\n", classification_report(y_test, y_pred_rf))
print("Accuracy:", accuracy_score(y_test, y_pred_rf))

Confusion Matrix:
 [[75  3]
 [ 0 22]]

Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.96      0.98        78
           1       0.88      1.00      0.94        22

    accuracy                           0.97       100
   macro avg       0.94      0.98      0.96       100
weighted avg       0.97      0.97      0.97       100

Accuracy: 0.97

In [11]:
importance = pd.DataFrame({'Feature': X.columns,'Importance':rf_model.feature_importances_}).sort_values (by='Importance',ascending=False)

In [13]:
#MOD2 : SUPORT VECTOR MACHINE
#S8 Feature Scaling(MANDOTORY) 
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


#S9 Train SVM Model(RBF Kernal)
from sklearn.svm import SVC

svm_model = SVC (kernel='rbf')
svm_model.fit(X_train_scaled, y_train)

#S10:Prediction & Evalution
y_pred_svm = svm_model.predict(X_test_scaled)

print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_svm))
print("\nClassification Report:\n",classification_report(y_test,y_pred_svm))
print("Accuracy:",accuracy_score(y_test,y_pred_svm))

Confusion Matrix:
 [[76  2]
 [ 3 19]]

Classification Report:
               precision    recall  f1-score   support

           0       0.96      0.97      0.97        78
           1       0.90      0.86      0.88        22

    accuracy                           0.95       100
   macro avg       0.93      0.92      0.93       100
weighted avg       0.95      0.95      0.95       100

Accuracy: 0.95

In [15]:
#S11:Model Comparison
print("Random Forest Accuracy:",accuracy_score(y_test, y_pred_rf))
print("SVM Accuracy:",accuracy_score(y_test, y_pred_svm))

Random Forest Accuracy: 0.97
SVM Accuracy: 0.95